.custom-button-icon {
    color: #ffffff;
    background: #689f38;
    border: 1px solid #689f38;
    border-radius: 50%;
    height: 2.357rem;
}

.my-row-spacing {
    margin-bottom: 1rem;
}

button[data-pc-name="button"][data-pc-section="filterapplybutton"] {
    width: 100%;
}