/* Customers */
.custom-button-primary {
    border-radius: 10px;
}

.my-row-spacing {
    margin-bottom: 1rem;
}

.dash-content {
    padding: 0 20px;
}

.p-component .p-button {
    background-color: #21a9d6;
    color: white;
    border: none;
}

button[data-pc-name="button"][data-pc-section="filterapplybutton"] {
    background-color: #21a9d6;
    border: 1px solid #21a9d6;
    width: 100%;
    border-radius: 10px;
}

.dash-nav.dash-nav-dark {
    background-color: #0e3143;
}

/* End Customers */

/* Paginator -------------------------------*/
.p-paginator .p-paginator-element {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
    margin-right: 4px;
    border-radius: 4px;
}

.p-paginator .p-paginator-element.p-highlight {
    background-color: #21a9d6;
    border: 1px solid #21a9d6;
    color: white;
}

.p-paginator .p-paginator-element.p-disabled {
    background-color: #e9ecef;
    color: #6c757d;
}

.p-paginator .p-paginator-icon {
    fill: currentColor;
}
/* -------------------------------*/

/* Toolbars -------------------------------*/
.p-toolbar {
    background-color: #ffff;
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.p-toolbar .p-toolbar-group-end .p-button {
    background-color: #21a9d6;
    border: 1px solid #21a9d6;
    border-radius: 14px;
}
/* -------------------------------*/

/* Data tables -------------------------------*/
.p-datatable.p-component {
    transition: 0.3s;
    border: 1px solid #21a9d660;
    border-radius: 5px;
}

.p-datatable thead th {
    background-color: #21a9d6;
    color: white;
    border: 2px solid #1fc2f8;
}

.p-datatable tbody td {
    border: 1px solid #21a9d660;
}

.p-datatable thead th .p-icon {
    color: white;
}

.p-datatable thead th .p-icon:hover {
    color: rgb(219, 216, 216);
}

.p-datatable thead th:hover {
    background-color: #42b1d6;
}
/* -------------------------------*/

/* Estilo general del Dropdown */
.p-dropdown {
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
}

.p-dropdown-label {
    color: #495057;
}

.p-dropdown .p-dropdown-trigger-icon {
    color: #333333;
}

.p-dropdown-panel {
    border-color: #dee2e6;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
}

.p-dropdown-item {
    color: #000000;
    margin-right: -30px;
}

.p-dropdown-item:hover {
    background-color: #e9ecef;
    color: #495057;
}

.p-dropdown.p-disabled .p-dropdown-label,
.p-dropdown.p-disabled .p-dropdown-trigger {
    color: #6c757d;
    background-color: #e9ecef;
}

.p-dropdown.p-focus .p-dropdown-trigger {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.p-dropdown-item.p-highlight,
.p-dropdown-item.p-highlight:hover {
    background-color: #42b1d6; /* Color de fondo de la opción seleccionada */
    color: white; /* Color del texto de la opción seleccionada */
}
/* -------------------------------*/
